[core]
  editor = nvim
  autocrlf = input
  excludesFile = ~/.gitignore_global
  pager = delta

[commit]
  gpgsign = true
  verbose = true
[gpg]
  program = gpg

[color]
  ui = auto

[init]
  defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = true
[push]
  default = current

[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vimdiff"]
  path = nvim

[rebase]
  autoSquash = true
  autoStash = true
  abbreviateCommands = true

[worktree]
  guessRemote = true

[alias]
  tidyup = "!git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d"
  l = "log --oneline --graph"

[include]
  path = ./.local.gitconfig
[rerere]
  enabled = true
[help]
  autocorrect = 20

[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@github.com"]
  insteadOf = gh
[url "git@github.com:typhoon2099/"]
  insteadOf = me:
[log]
  follow = true

[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  side-by-side = true
  map-styles = \
       bold purple => syntax "#330f29", \
       bold blue => syntax "#271344", \
       bold cyan => syntax "#0d3531", \
       bold yellow => syntax "#222f14"
[diff]
  colorMoved = default
