[core]
  editor = nvim
  autocrlf = input
  excludesFile = ~/.gitignore_global

[commit]
  gpgsign = true
  verbose = true
[gpg]
  program = gpg

[color]
  ui = auto

[init]
  defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = true
[push]
  default = current

[merge]
  tool = vimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vimdiff"]
  path = nvim

[rebase]
  autoSquash = true
  autoStash = true
  abbreviateCommands = true

[alias]
  tidyup = "!git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d"
  l = "log --oneline --graph"

[include]
  path = ./.gitconfig_local
[rerere]
  enabled = true
[help]
  autocorrect = 20

[url "git@github.com"]
  insteadOf = gh
[url "git@github.com:typhoon2099/"]
  insteadOf = me:
[log]
	follow = true
