configuration {
  modi: "window,run,drun";
  font: "Hack Nerd Font Mono 14";
  show-icons: true;
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "mytheme"

/* vim:ft=css
