XTerm.termName: xterm-256color

XTerm.vt100.locale: true

XTerm.vt100.metaSendsEscape: true

XTerm.vt100.colorBDMode: true

! special
*.foreground:   #dd95ad
*.background:   #251c1f
*.cursorColor:  #dd95ad

! black
*.color0:       #3f3136
*.color8:       #3f3136

! red
*.color1:       #de6f6f
*.color9:       #de6f6f

! green
*.color2:       #83de6f
*.color10:      #83de6f

! yellow
*.color3:       #decf6f
*.color11:      #decf6f

! blue
*.color4:       #6facfe
*.color12:      #6facfe

! magenta
*.color5:       #a16fde
*.color13:      #a16fde

! cyan
*.color6:       #6fded5
*.color14:      #6fded5

! white
*.color7:       #6facde
*.color15:      #6facde

*.faceName: Hack
*.faceSize: 11

xterm*vt100.translations: #override \n\
    Shift Ctrl <Key>C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD)
