! special
*.foreground:   #dd95ad
*.background:   #251c1f
*.cursorColor:  #dd95ad

! black
*.color0:       #3f3136
*.color8:       #ddaabb

! red
*.color1:       #dd4c4c
*.color9:       #dd6e6e

! green
*.color2:       #71de4e
*.color10:      #8bde6f

! yellow
*.color3:       #de844b
*.color11:      #debd6f

! blue
*.color4:       #4e9bde
*.color12:      #6fb1de

! magenta
*.color5:       #bc4ede
*.color13:      #c86fde

! cyan
*.color6:       #4eded2
*.color14:      #6fded3

! white
*.color7:       #4e9bde
*.color15:      #64b1de

*.faceName: Hack
*.faceSize: 11

xterm*vt100.translations: #override \n\
    Shift Ctrl <Key>C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD)

XTerm*termName: xterm-256color
